/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body,
html {
  height: 100%;
}

/* Container principal com dois lados */
.container {
  display: flex;
  height: 100vh;
}

/* Container principal */
.container {
  display: flex;
  height: 100vh;
  background-color: #4F6326;
}

/* Lado esquerdo */
.left {
  flex: 1;
  background-color: transparent;
}

/* Lado direito */
.right {
  flex: 1;
  background-color: #FAFAEF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Caixa de login */
.login-box {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  text-align: center;
}

/* Logo */
.logo {
  width: 150px;
  margin-bottom: 2rem;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  text-align: left;
  font-size: 0.9rem;
  color: #333;
}

input {
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  background-color: #4F6326;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #3e511e;
}

footer {
  background-color: #4c5f32;
  color: #fff;
  padding: 40px 60px 20px;
  margin-top: 60px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 26px;
  margin-right: 18px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #a5d6a7;
}

.footer-social a {
  pointer-events: auto;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.footer-unidades h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.footer-unidades p {
  margin-bottom: 5px;
  font-size: 15px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-unidades {
    margin-top: 20px;
  }
}